.col-input {
    margin-bottom: 2rem;
}

.login-form-style{
    width: 20rem;
    height: 18rem;
    background-color: white; 
    border-radius:6px; 
}

.justify-content-center{
    display: flex;
    justify-content:center;
    align-items:center;
}

.label {
    text-align: center; 
    width: 100%; 
    font-weight: bold;
    color: $primary_text_color;
}