.change-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label-change-image {
	color: #1a5e9a;
    font-size: small;
}

.toggle-custom{
	background: transparent;
    color: black;
    padding-right: 25.1%;
    padding-left: 20.1%;
    margin-left: -20px;
    margin-top: -12px;
    margin-bottom: -12px;
    padding-top: 15px;
    padding-bottom: 12px;
    border: none;
}

.toggle-custom:not(:disabled):not(.disabled):active, .toggle-custom:not(:disabled):not(.disabled).active, .show > .toggle-custom.dropdown-toggle {
    background: transparent;
    color: black;
    border: none;
}

.toggle-custom:hover{
	background: transparent;
    color: black;
    border: none;
}

.toggle-custom:not(:disabled):not(.disabled):active:focus, .toggle-custom:not(:disabled):not(.disabled).active:focus, .show > .toggle-custom.dropdown-toggle:focus{
    box-shadow: none;
}

.toggle-custom:focus, .toggle-custom.focus{
    box-shadow: none;   
}

.dropdown-item-custom {
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 12px;
    background: #206fbf;
    width: 291%;
    color: white;
    border-radius: 6px;
    text-align: center;
}

.dropdown-item-custom-changed{
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 12px;
    background: #206fbf;
    width: 260%;
    color: white;
    border-radius: 6px;
    text-align: center;
}

.menu-custom{
    border: none;
    background: transparent;
}

.dropdown-item-custom:hover {
    background: #92a4ff;
}

.dropdown-item-custom-changed:hover{
    background: #92a4ff;   
}

.dropcustom{
    margin-left: 60px;
}

@media(max-width: 640px){
    .dropdown-item-custom {
        padding-top: 10px !important;
        padding: 0;
        margin-top: 0px;
        padding-bottom: 12px;
        background: #206fbf;
        width: 205%;
        color: white;
        border-radius: 6px;
        text-align: center;
    } 

    .dropdown-item-custom-changed{
        padding-top: 10px;
        margin-top: 0px;
        padding-bottom: 12px;
        background: #206fbf;
        width: 140%;
        color: white;
        border-radius: 6px;
        text-align: center;
    }   
    .dropcustom{
        margin-left: 0
    }
}

.button-succes-custom {
    background: #6966b8 linear-gradient(180deg, #6966b8, #45B6C0) repeat-x !important;
    border-color: #6966b8 !important;
}

// UserQualification

.card-header-top{
    margin-top: 0;
}


.button-send {
    width: 56px;
    height: 56px;
    margin-right: 230px;
}

.card-body-responsive {
    margin-left: 150px;
}

.left-arrow {
    float: left;
    margin-right: 11px;
    color: black;
    font-size: 20px;
}

@media(max-width: 640px)
{
    .card-header-top{
        margin-top: 73px;
    }   

    .button-send {
        margin-right: 132px;
    }

    .card-body-responsive{
        margin-left: 0 !important;
    }

    //Post.scss

    .new-post-card{
        margin-top: 0;
    }

    .post-link-card{
        float: left;
        padding-right: 12px;
        color: black;
    }

    .post-link-card:hover{
        text-decoration: none;
    }

    @media(max-width: 568px){
        
        .new-post-card{
            margin-top: 73px;
        }
    }

    .x-close{
        position: absolute;
        color: black;
        margin-left: 16%;
        font-size: smaller;
        margin-top: 1px;
        border-radius: 20%;
        background: #dfdfdf;
        width: 15px;
        height: 15px;
        padding-left: 1%;
        text-transform: uppercase;
        cursor: pointer;
    }
}